/*FONTS:
font-family: 'Cormorant Infant', serif;
font-family: 'Inter', sans-serif;

COLORES:
FUENTES #ecac4d;
HOVER #f7c06f;
BACKGROUND rgb(49, 55, 58) 100;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */

body {
  font-family: "Inter", "Cormorant Infant", Helvetica, sans-serif;
  /* background-color: #191919; */
  background: linear-gradient(-45deg, #191919, #111010);
  background-size: 2000% 2000%;
  animation: gradient 5s ease infinite;
  height: 100vh;
  color: #ecac4d;
  list-style: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

section p {
  text-align: center;
}

main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
}

/* INDEX TOP */

header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
  background-color: rgb(0, 0, 0, 0.6);
  color: #ecac4d;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 1;
}

header a:hover {
  /* transform: scale(1.1); */
  z-index: 9;
}

header.index_fixed {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
  background-color: rgb(0, 0, 0, 0.4);
  color: #ecac4d;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 1;
  position: sticky;
}

h1 {
  font-family: "Cormorant Infant";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  font-size: 3rem;
}

.icono {
  color: #ecac4d;
  height: 150px;
  width: 150;
}

/* BOTONES TOP */

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ecac4d;
  font-size: 1.8rem;
  padding: 20px;
  justify-content: space-between;
  gap: 1em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.btn_search,
.btn_share {
  transition: 0.5s;
}

.btn_search:hover,
.btn_share:hover {
  transform: scale(1.4);
  color: #f7c06f;
}

/* INDEX PRIMER BACK IMG VID */

section.trailer {
  display: flex;
  justify-content: center;
}

section.trailer video {
  width: 80vw;
  filter: drop-shadow(0.5em 0.5em 0.5em black);
}

/* INDEX SECTION ONE */

.section_first_index {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.section_first_index p {
  color: #ecac4d;
  font-weight: bold;
  font-size: 1.8rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 50px;
  margin: 100px;
}

/* INDEX - MAIN MENU - CARTAS */

.main_index img {
  transition: 0.5s;
  border-radius: 50px;
}

.main_index div {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-content: center;
  justify-content: center;
  transition: 0.5s;
  margin: 20px 0px;
  gap: 4rem;
}

.menu_index div {
  filter: grayscale(70%);
  align-items: center;
  justify-items: center;
}

.menu_index div:hover {
  filter: grayscale(0%);
  transform: scale(1.1) rotate(-5deg);
  cursor: pointer;
}

.menu_index h2 {
  position: absolute;
  color: rgb(255, 0, 0);
  font-family: "Inter";
  font-size: 2rem;
  text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.5);
  transform: rotate(-45deg);
  top: 50%;
}

/* INDEX SECTION TWO */

section.section_second_index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "txt txt ban"
    "capt capt ban";
}

.section_second_index div.texto_section_second_index {
  grid-area: txt;
  padding: 60px;
  margin: 20px;
  /* width: 90%; */
  border-radius: 18px;
  background-image: url(../images/background04.jpg);
  background-size: cover;
  color: #ecac4d;
  align-content: center;
  text-align: center;
  /* font-size: 1.4rem; */
  filter: drop-shadow(0.2em 0.2em 0.2em black);
  align-self: center;
  align-items: center;
}

.section_second_index .capturas {
  grid-area: capt;
  margin: 20px;
}

.section_second_index .capturas img {
  /* border-radius: 20px; */
  /* width: 40vw; */
  /* height: 35vh; */
  border: 1px solid black;
  transition: 1s;
}

.section_second_index .capturas img:hover {
  transform: scale(1.6);
}

.section_second_index .banner {
  grid-area: ban;
  display: flex;
  justify-content: center;
}

.section_second_index .banner a {
  display: flex;
  justify-content: center;
  width: 100%;
}

.banner img {
  border-radius: 50px;
  transition: 0.5s;
}

.banner img:hover {
  transform: scale(0.9);
  filter: drop-shadow(0.5em 0.5em 0.5em rgb(224, 9, 9));
}

.section_second_index p {
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* FOOTER */

footer {
  background-image: url(../images/wave2.svg);
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  transition: 0.5s;
  width: 100%;
  height: 26rem;
  padding: 1.5rem;
}

footer ul li {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  font-size: 60px;
  transition: 0.5s;
}

.contactos_footer {
  display: flex;
  padding: 20px;
  color: #ecac4d;
}

footer .mail:hover,
footer .linkedin:hover,
footer .instagram:hover {
  transform: scale(1.2);
  color: #f7c06f;
}

.footer_up {
  font-size: 60px;
  color: #ecac4d;
  transition: 0.5s;
  padding: 14px;
}

.footer_up:hover {
  transform: scale(1.4) rotate(360deg);
  color: #f7c06f;
}

/* -- OUT OF INDEX --*/

header.top_no_index {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 9;
  width: 100%;
}

header.top_no_index h1 {
  text-align: center;
}

.top_no_index .logo:hover {
  cursor: pointer;
  transition: 0.8s;
  transform: scale(1.05);
  font-weight: bolder;
  color: red;
}

header.top_no_index nav ul a:hover {
  color: #282d2f;
  background-color: #ecac4d;
}

header.top_no_index nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  filter: drop-shadow(0.2em 0.2em 0.25em black);
}

header.top_no_index nav ul a {
  display: flex;
  padding: 15px;
  font-family: "Cormorant Infant";
  font-weight: bold;
  border-radius: 25px;
  background: #282d2f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  justify-content: center;
  transition: 0.5s;
  top: 0;
  width: 160px;
  margin: 4px;
  margin-top: 10px;
}

header.top_no_index nav ul a:active {
  transition: none;
}

.nav_no_index li {
  display: inline-block;
}

/* BORDES P NO INDEX */

main.top_players div p,
main.uni_container > div {
  background: linear-gradient(to bottom right, rgb(45, 53, 53), rgb(0, 0, 0));
  border-radius: 20px;
  filter: drop-shadow(0.1em 0.2em 0.1em black);
}

/* FONDOS IMAGENES NO INDEX */

.fondo_no_index,
.fondo_no_index img {
  position: relative;
  display: inline-block;
  width: 100%;
  max-height: 90vh;
  size: cover;
}

div.texto_imagen {
  position: absolute;
  bottom: 5%;
  left: 5%;
  max-width: 50%;
  font-family: "Cormorant Infant";
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  filter: drop-shadow(0.1em 0.1em 0.1em black);
}

div.texto_imagen h2 {
  font-size: 2.5rem;
}

div.texto_imagen p {
  margin: 10px;
  font-family: "Cormorant Infant";
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  font-size: 1.2rem;
  color: whitesmoke;
}

/* -- CIVILIZACIONES -- */

.civilizaciones {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  gap: 0px 50px;
  margin: 50px 0px;
}

.civilizaciones div.texto_civ {
  border-radius: 20px;
  background-color: rgba(210, 210, 210, 0.2);
  padding: 20px;
}

div.civi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.civilizaciones img {
  background-image: url(../images/back-golden.jpg);
  background-size: cover;
  padding: 1.6rem;
  border-radius: 50%;
  margin: 0.8rem;
  height: 250px;
  width: 250px;
  filter: drop-shadow(0.2em 0.3em 0.4em black);
}

.civilizaciones h3 {
  font-size: 2rem;
  filter: drop-shadow(0.1em 0.2em 0.3em black);
}

.civilizaciones p {
  margin: 2rem;
  max-width: 30ch;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  filter: drop-shadow(0.1em 0.1em 0.1em black);
}

.back-logo-civ {
  background-color: #f7c06f;
  border: 2px black solid;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 400px;
  top: 50px;
}

.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transition: 1s;
}

.card .back p {
  position: absolute;
  transition: 1s;
  top: 60%;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: bold;
  background-color: rgba(172, 133, 133, 0.5);
  border-radius: 20px;
  padding: 0.5rem;
  text-transform: uppercase;
}

.card .front {
  transform: perspective(500px) rotateY(0deg);
}

.card .back {
  transform: perspective(500px) rotateY(180deg);
}

.card:hover .front {
  transform: perspective(500px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(500px) rotateY(360deg);
}

/* -- GUÃAS -- */

.guias_p {
  text-align: center;
  padding: 20px;
  margin: 50px;
}

/* --- VIDEOS GUIAS --- */

.guias_container p {
  text-align: center;
  margin: 3.5rem;
}

.videos_guias {
  margin: 2rem 0rem;
}

div.ribete {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}

div.ribete img {
  height: 1.8rem;
  width: 80%;
  margin: 20px;
}

div.iframeYT {
  display: flex;
  justify-content: center;
}

/* -- UNIDADES -- */

main.uni_container {
  display: flex;
  flex-flow: row wrap;
}

main.uni_container img {
  width: 70%;
  margin: 0px 0px 20px;
  filter: drop-shadow(0.5em 0.2em 0.5em white);
}

main.uni_container > div {
  justify-content: center;
  align-items: center;
  margin: 2rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 2rem;
  margin-bottom: 2.5rem;
  min-width: 300px;
  max-width: 200px;
}

/* TOP PLAYERS */

main.top_players {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

main.top_players > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 150px 10px 150px;
}

main.top_players div.card {
  z-index: 5;
}

main.top_players div img {
  border-radius: 100px;
  max-height: 600px;
  filter: drop-shadow(0.5em 0.6em 0.5em black);
}

main.top_players div p {
  font-family: "Cormorant Infant";
  font-size: 1.2em;
  font-weight: bold;
  padding: 3.6rem;
  /* width: 100%; */
  max-width: 350px;
  text-align: left;
}

main.top_players div p::first-line  {
  font-size: 1.8em;
  color: #fff;
}

/* MEDIA QUERIES */

/* 1080px */
@media screen and (max-width: 1080px) {
  .section_second_index div.texto_section_second_index {
    font-size: 0.8em;
    padding: 30px;
  }
}

/* 780px */
@media screen and (max-width: 780px) {
  .container_index header.index_fixed {
    position: sticky;
    justify-content: space-between;
    padding: 10px;
  }

  h1.logo {
    text-align: center;
    font-size: 1.8em;
  }

  .container_index header.index_fixed {
    position: relative;
  }

  .btn_search,
  .btn_share {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 0px;
  }

  .container_index .section_first_index p {
    font-size: 1.2rem;
    margin: 20px;
  }

  .section_second_index .banner {
    align-items: center;
    margin: 0px;
    width: 70%;
  }

  .section_second_index .banner img {
    width: 100%;
  }

  .section_second_index .banner a {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  header.top_no_index {
    position: relative;
    justify-content: center;
  }

  .container_index .top_no_index {
    justify-content: center;
  }

  section.section_second_index {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }





  .section_second_index div.texto_section_second_index {
    margin: 20px 0px;
    padding: 20px;
  }


  div.fondo_no_index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  div.texto_imagen {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: center;
    text-align: center;
    align-content: center;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    /* max-width: 100%; */
    /* margin: 20px; */
  }

  .main_index div {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
    justify-content: center;
    transition: 0.5s;
    /* margin: 20px 0px; */
    gap: 2rem;
  }

  .menu_index div {
    filter: grayscale(0%);
  }

  header.top_no_index {
    position: relative;
    justify-content: center;
  }

  .container_index .top_no_index {
    justify-content: center;
  }

  main.top_players > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  main.top_players div.card {
    top: 0px;
    margin-top: 240px;
  }

  div.front,
  div.back {
    align-items: flex-end;
  }

  main.top_players div p {
    font-size: 0.8em;
    font-weight: bold;
    padding: 50px 10px;
    width: 100%;
    padding: 20px;
    margin: 0;
  }

  /* MQ FOOTER */

  footer {
    padding: 10px;
    width: 100%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    gap: 10px;
  }

  footer nav {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2;
  }

  a.footer_up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    filter: drop-shadow(0.05em 0.05em 0.05em black);
  }

  footer p {
    font-size: 1rem;
    text-align: center;
    order: 3;
    margin-bottom: 10px;
  }

  /* 480px */
  @media screen and (max-width: 480px) {
    .container_index header.index_fixed {
      position: relative;
      justify-content: center;
      gap: 6px;
    }

    a.footer_up {
      font-size: 2.5rem;
    }

    .main_index div {
      margin: 0px;
      gap: 1.2rem;
    }

    body .main_index img {
      width: 60%;
    }

    body .main_index h2 {
      font-size: 1.2rem;
    }

    .container_index .section_first_index p {
      font-size: 0.8rem;
      padding: 30px;
    }

    .container_index .section_second_index {
      margin: 10px;
      padding: 10px;
    }

    .container_index .section_second_index p {
      font-size: 0.8rem;
      padding: 0px;
    }

    footer ul li a i {
      font-size: 2.5rem;
    }
  }
}
