.card .front {
  transform: perspective(500px) rotateY(0deg);
}
.card .back {
  transform: perspective(500px) rotateY(180deg);
}
.card:hover .front {
  transform: perspective(500px) rotateY(180deg);
}
.card:hover .back {
  transform: perspective(500px) rotateY(360deg);
}

.btn_search,
.btn_share {
  transition: 0.5s;
}
.btn_search:hover,
.btn_share:hover {
  transform: scale(1.2);
  color: #f1c17b;
}

.card_top div, div.ribete, div.bonus, .card_civi, div.civi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.top_players > div, main.top_players, .consejos ul, .civilizaciones, .main_index div, .section_first_index, section.trailer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header nav {
  background-image: url(../images/back-head03.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  filter: drop-shadow(0.2em 0.2em 0.2em #080808);
}
header nav h1 {
  font-family: "Cormorant Infant";
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0;
  transition: 0.5s;
}
@media screen and (max-width: 1080px) {
  header nav h1 {
    margin-right: 20px;
  }
}
header nav.navbar-propio {
  position: fixed;
  z-index: 9;
}
header nav.navbar-propio > div {
  align-items: center;
  justify-content: space-between;
}

header.out_of_index h1:hover {
  z-index: 9;
  color: #f1c17b;
}

header.out_of_index nav ul {
  display: flex;
  filter: drop-shadow(0.2em 0.2em 0.25em black);
}
header.out_of_index nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Cormorant Infant";
  font-weight: bold;
  color: #ecac4d;
  border-radius: 25px;
  background: #282d2f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  transition: 0.5s;
  top: 0;
  width: 140px;
  margin: 6px;
  font-size: 0.8rem;
}
header.out_of_index nav ul li a:hover {
  color: #282d2f;
  background-color: #ecac4d;
}
header.out_of_index nav button {
  background-color: #ecac4d;
}

.navbar-propio {
  padding: 20px;
}

.lista-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lista-nav ul li {
  text-align: center;
  justify-content: center;
  align-items: center;
}

footer {
  background-image: url(../images/wave2.svg);
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  transition: 0.5s;
  width: 100%;
  height: 16rem;
  padding: 2rem;
}
footer ul li {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  font-size: 40px;
}
footer ul li a {
  transition: 0.5s;
}
footer ul li a:hover {
  transform: scale(1.2);
  color: #f1c17b;
}
footer ul.contactos_footer {
  display: flex;
}
footer a.footer_up {
  font-size: 40px;
  transition: 0.5s;
  padding: 14px;
  margin: 18px 16px;
}
footer a.footer_up:hover {
  transform: scale(1.2) rotate(360deg);
  color: #f1c17b;
}

div.icono {
  height: 150px;
  width: 150;
}
div.icono:hover {
  color: #f1c17b;
}
div.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 20px;
  justify-content: space-between;
  gap: 1em;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
div.btns a:hover {
  color: #f1c17b;
}

main.top_players div p {
  background: linear-gradient(to bottom right, rgb(45, 53, 53), rgb(0, 0, 0));
  border-radius: 20px;
  filter: drop-shadow(0.1em 0.2em 0.1em black);
}

/* FONDOS IMAGENES NO INDEX */
.fondo_no_index,
.fondo_no_index img {
  position: relative;
  display: inline-block;
  width: 100%;
  max-height: 90vh;
  size: cover;
  margin: 50px 0px 20px 0px;
}

div.texto_imagen {
  position: absolute;
  bottom: 5%;
  left: 5%;
  max-width: 50%;
  font-family: "Cormorant Infant";
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  filter: drop-shadow(0.2em 0.2em 0.2em #080808);
}
div.texto_imagen h2 {
  font-size: 2.75rem;
}
div.texto_imagen p {
  margin: 10px;
  font-family: "Cormorant Infant";
  font-weight: bold;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-size: 1.6rem;
  color: rgb(240, 240, 240);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Cormorant Infant", Helvetica, sans-serif;
  background-color: #191919;
  color: #ecac4d;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  list-style: none;
}

section p {
  text-align: center;
}

ul {
  padding-inline-start: 0px;
}

.dsha {
  filter: drop-shadow(0.2em 0.2em 0.2em #080808);
}

em {
  font-style: normal;
}

::marker {
  display: none;
}

/* INDEX PRIMER BACK IMG VID */
section.trailer {
  margin-top: 14vh;
}
section.trailer video {
  width: 80vw;
  filter: drop-shadow(0.5em 0.5em 0.5em #080808);
}
@media screen and (max-width: 780px) {
  section.trailer {
    display: none;
  }
}

div.imagen_principal {
  display: none;
}
@media screen and (max-width: 780px) {
  div.imagen_principal {
    display: block;
    margin-top: 30px;
    filter: drop-shadow(0.5em 0.5em 0.5em #080808);
  }
  div.imagen_principal img {
    width: 100%;
  }
}

/* INDEX SECTION ONE */
.section_first_index p {
  color: #ecac4d;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 40px;
  margin: 40px;
}

.main_index img {
  transition: 0.5s;
  border-radius: 50px;
}
.main_index div {
  transition: 0.5s;
  margin: 10px 0px;
  transition: 0.5s;
}

.menu_index div {
  filter: grayscale(70%);
  align-items: center;
  justify-items: center;
  transition: 0.5s;
}
.menu_index div:hover {
  filter: grayscale(0%);
  transform: scale(1.05) rotate(-1deg);
  cursor: pointer;
}
.menu_index img {
  width: 80%;
}
.menu_index h2 {
  position: absolute;
  color: rgb(240, 240, 240);
  font-family: "Inter";
  font-size: 2.2ch;
  font-weight: bold;
  text-shadow: 2px 3px 2px rgb(0, 0, 0);
  transform: rotate(-45deg);
  top: 50%;
}

/* INDEX SECTION TWO */
section.section_second_index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.2fr;
  grid-template-areas: "txt txt ban" "capt capt ban";
  margin: 60px 10px;
  justify-content: center;
  gap: 0 4rem;
}
section.section_second_index p {
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
section.section_second_index div.texto_section {
  grid-area: txt;
  padding: 60px;
  border-radius: 18px;
  background-image: url(../images/background04.jpg);
  background-size: cover;
  text-align: center;
  filter: drop-shadow(0.2em 0.2em 0.2em #080808);
}
section.section_second_index div.texto_inside {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 20px;
}
section.section_second_index div.capturas {
  grid-area: capt;
  margin: 20px;
  /* align-self: center; */
}
section.section_second_index div.capturas img {
  border: 1px solid black;
  transition: 1s;
}
section.section_second_index div.capturas img:hover {
  transform: scale(1.6);
}
section.section_second_index div.banner {
  grid-area: ban;
  width: 80%;
}
@media screen and (max-width: 1080px) {
  section.section_second_index div.banner {
    display: flex;
    justify-content: center;
  }
}
section.section_second_index div.banner a {
  display: flex;
  justify-content: center;
}
section.section_second_index div.banner img {
  border-radius: 60px;
  transition: 0.5s;
  width: 100%;
  max-height: 900px;
  max-width: 300px;
}
@media screen and (max-width: 780px) {
  section.section_second_index div.banner img {
    width: 80%;
  }
}
section.section_second_index div.banner img:hover {
  transform: scale(0.9);
  filter: drop-shadow(0.5em 0.5em 0.5em #ecac4d);
}

.civilizaciones {
  gap: 0px 16px;
  margin-top: 50px;
  align-items: flex-start;
}

.civilizaciones div.texto_civ {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-bottom: 100px;
}

.civilizaciones img {
  background-image: url(../images/back-golden.jpg);
  background-size: cover;
  padding: 1.6rem;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  filter: drop-shadow(0.5em 0.5em 0.5em #080808);
}

.civilizaciones h3 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.civilizaciones h4 {
  font-size: 1rem;
  margin-bottom: 20px;
}

.texto_civ ul {
  margin: 1.4rem;
  max-width: 30ch;
  text-align: left;
  font-size: 0.8rem;
}

.back-logo-civ {
  background-color: #f1c17b;
  border: 2px black solid;
}

.card_civi {
  position: relative;
  /* margin-top: 100px; */
  width: 230px;
  height: 230px;
  background-color: inherit;
  border: none;
}

.card_civi div {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: 1s;
  background-size: 0%;
}

main.uni_container img {
  width: 70%;
  margin-top: 80px;
  filter: drop-shadow(0.5em 0.5em 0.5em #ecac4d);
  transition: all 0.4s linear;
}
main.uni_container img:hover {
  width: 70%;
  margin-top: 80px;
  filter: drop-shadow(0.5em 0.2em 0.5em white);
  transform: scale(1.05);
}
main.uni_container h3 {
  font-size: 1.6rem;
  margin-top: 30px;
}
main.uni_container.col-uni {
  background: linear-gradient(to bottom right, rgb(45, 53, 53), rgb(0, 0, 0));
  border-radius: 20px;
  filter: drop-shadow(0.2em 0.2em 0.2em #080808);
  margin: 120px 10px;
}

div.bonus {
  text-align: center;
  margin: 30px;
}
div.bonus h3 {
  margin: 20px;
  font-size: 1.6rem;
}

.guias_container h3 {
  text-align: center;
  margin: 50px;
  font-weight: bold;
  font-size: 2.6rem;
}
.guias_container h3:first-child {
  margin-top: 50px;
}
.guias_container p {
  text-align: center;
  margin: 30px 10vw;
}

.consejos h3 {
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.6rem;
}
.consejos ul {
  font-style: italic;
  font-weight: bold;
  align-items: flex-start;
}
.consejos ul li {
  text-align: center;
  max-width: 40ch;
  margin: 30px;
  list-style: circle;
}

/* --- VIDEOS GUIAS --- */
.videos_guias {
  margin: 2rem 0rem;
}

div.ribete {
  margin: 1.5rem;
}
div.ribete img {
  height: 1.8rem;
  width: 80%;
  margin: 20px;
}
div.iframeYT {
  display: flex;
  justify-content: center;
}

.card_top {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: inherit;
  border: none;
}
.card_top div {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: 1s;
  background-size: 0%;
}

main.top_players {
  gap: 20px;
  margin: 10px;
  margin-top: 100px;
}
main.top_players > div {
  align-items: flex-end;
  margin: 120px 10px 120px;
}
main.top_players div.card {
  z-index: 5;
}
main.top_players div img {
  border-radius: 100px;
  max-height: 500px;
  filter: drop-shadow(0.5em 0.5em 0.5em #080808);
}
main.top_players div p {
  font-family: "Cormorant Infant";
  font-size: 1em;
  font-weight: bold;
  padding: 2.8rem;
  /* width: 100%; */
  max-width: 330px;
  text-align: left;
  margin: 0px;
}
main.top_players div p::first-line {
  font-size: 1.8em;
  color: rgb(240, 240, 240);
}

/* MEDIA QUERIES */
/* 1080px */
@media screen and (max-width: 1080px) {
  .section_second_index div.texto_section {
    font-size: 0.6em;
  }
  header nav.navbar-propio {
    position: relative;
  }
  .fondo_no_index,
.fondo_no_index img {
    margin: 0px;
  }
  section.trailer {
    margin-top: 20px;
  }
  div.texto_imagen {
    margin-top: 20px;
  }
  div.texto_imagen h2 {
    font-size: 1.8rem;
  }
  div.texto_imagen p {
    font-size: 1.2rem;
  }
  .civilizaciones img {
    height: 200px;
    width: 200px;
    margin: 20px;
  }
  .card {
    height: 280px;
    top: 30px;
  }
  a.footer_up {
    position: fixed;
    bottom: 30px;
    right: 4px;
    z-index: 99;
    filter: drop-shadow(0.5em 0.5em 0.5em #080808);
  }
  footer {
    justify-content: center;
  }
}
/* 780px */
@media screen and (max-width: 780px) {
  .container_index .section_first_index p {
    font-size: 1.2rem;
    margin: 20px;
  }
  header nav h1 {
    font-size: 2rem;
  }
  .navbar-propio {
    padding: 8px;
  }
  .navbar > .container-fluid {
    justify-content: center;
  }
  main.top_players div img {
    max-height: 480px;
  }
  .container_index .top_no_index {
    justify-content: center;
  }
  section.section_second_index {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }
  .section_second_index div.texto_section {
    font-size: 0.4;
    padding: 20px;
  }
  div.fondo_no_index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  div.texto_imagen {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: center;
    text-align: center;
    align-content: center;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
  }
  .main_index div {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
    justify-content: center;
    transition: 0.5s;
    gap: 2rem;
  }
  .menu_index div {
    filter: grayscale(0%);
  }
  header.top_no_index {
    position: relative;
    justify-content: center;
  }
  .container_index .top_no_index {
    justify-content: center;
  }
  main.top_players > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  main.top_players div.card {
    top: 0px;
    margin-top: 240px;
  }
  main.top_players div.front,
main.top_players div.back {
    justify-content: flex-end;
  }
  main.top_players div p {
    font-size: 0.8em;
    font-weight: bold;
    padding: 50px 10px;
    width: 100%;
    padding: 20px;
    margin: 0;
  }
  .section_second_index .texto_inside {
    padding: 20px;
  }
  .guias_container h3 {
    font-size: 1.6em;
  }
  .guias_container p {
    font-size: 0.96rem;
  }
}
/* 480px */
@media screen and (max-width: 480px) {
  a.footer_up {
    font-size: 2.5rem;
  }
  .main_index div {
    margin: 0px;
    gap: 1.2rem;
  }
  body .main_index img {
    width: 60%;
  }
  body .main_index h2 {
    font-size: 1.2rem;
  }
  .container_index .section_first_index p {
    font-size: 0.8rem;
    padding: 30px;
  }
  .container_index .section_second_index {
    margin: 10px;
    padding: 10px;
  }
  .container_index .section_second_index p {
    font-size: 0.8rem;
    padding: 0px;
  }
  footer ul li a i {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
