* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Cormorant Infant", Helvetica, sans-serif;
  background-color: $bg-main;
  color: $primary;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  list-style: none;
}

section p {
  text-align: center;
}

main {
  @extend %disp_flex_row_center;
}

ul {
  padding-inline-start: 0px;
}

.dsha {
  filter: drop-shadow(0.1em 0.2em 0.3em black);
}

em {
 font-style: normal;
}

::marker {
  display: none;
}

/* INDEX PRIMER BACK IMG VID */

section.trailer {
  @extend %disp_flex_row_center;
  margin-top: 14vh;
  video {
    width: 80vw;
    filter: drop-shadow(0.5em 0.5em 0.5em black);
    }
    @media screen and (max-width: 480px) {
      display: none;
    }
}

div.imagen_principal {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
    img{
    width: 100%;
    size: cover;
    right: 200px;
  }
  }
}



/* INDEX SECTION ONE */

.section_first_index {
  @extend %disp_flex_row_center;
  p {
    color: $primary;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    padding: 40px;
    margin: 40px;
  }
}



// INDEX - MAIN INDEX - CARTAS //

.main_index {
  img {
    transition: 0.5s;
    border-radius: 50px;
  }
  div {
    @extend %disp_flex_row_center;
    transition: 0.5s;
    margin: 10px 0px;
    filter: grayscale(70%);
    transition: 0.5s;
  }
}

.menu_index {
  div {
    filter: grayscale(70%);
    align-items: center;
    justify-items: center;
    transition: 0.5s;
    &:hover {
      filter: grayscale(0%);
      transform: scale(1.1) rotate(-5deg);
      cursor: pointer;
    }
  }

  img {
    width: 80%;
  }

  h2 {
    position: absolute;
    color: $white;
    font-family: "Inter";
    font-size: $h2;
    font-weight: bold;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 1);
    transform: rotate(-45deg);
    top: 50%;
  }
}

/* INDEX SECTION TWO */

section {
  &.section_second_index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr;
    grid-template-areas:
      "txt txt ban"
      "capt capt ban";
    margin: 60px 10px;
    justify-content: center;
    gap: 0 4rem;

    p {
      font-weight: bold;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    div {
      &.texto_section {
        grid-area: txt;
        padding: 60px;
        border-radius: 18px;
        background-image: url(../images/background04.jpg);
        background-size: cover;
        text-align: center;
        filter: drop-shadow(0.2em 0.2em 0.2em black);
      }

      &.texto_inside {
        background-color: $bg-inside-text;
        padding: 40px;
        border-radius: 20px;
      }

      &.capturas {
        grid-area: capt;
        margin: 20px;
        /* align-self: center; */
        img {
          border: 1px solid black;
          transition: 1s;
          &:hover {
            transform: scale(1.6);
          }
        }
      }
      &.banner {
        grid-area: ban;
        width: 80%;
        @media screen and (max-width: 1080px) {
          display: flex;
          justify-content: center;
        }
        a {
          display: flex;
          justify-content: center;
        }
        img {
          border-radius: 60px;
          transition: 0.5s;
          width: 100%;
          max-height: 900px;
          max-width: 300px;
          @media screen and (max-width: 780px) {
            width: 80%;
          }
          &:hover {
            transform: scale(0.9);
            filter: drop-shadow(0.5em 0.5em 0.5em $primary);
          }
        }
      }
    }
  }
}
