%disp_flex_col_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%disp_flex_row_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}