/* MEDIA QUERIES */

/* 1080px */
@media screen and (max-width: 1080px) {
  .section_second_index div.texto_section {
    font-size: 0.6em;
  }

  header nav.navbar-propio {
    position: relative;
  }

  .fondo_no_index,
  .fondo_no_index img {
    margin: 0px;
  }

  section.trailer {
    margin-top: 20px;
  }

  div.texto_imagen {
    margin-top: 20px;
  }

  div.texto_imagen h2 {
    font-size: 1.8rem;
  }

  div.texto_imagen p {
    font-size: 1.2rem;
  }

  .civilizaciones img {
    height: 200px;
    width: 200px;
    margin: 20px;
  }

  .card {
    height: 280px;
    top: 30px;
  }

  a.footer_up {
    position: fixed;
    bottom: 30px;
    right: 4px;
    z-index: 99;
    filter: $ds05b;
  }

  footer {
    justify-content: center;
  }
}

/* 780px */
@media screen and (max-width: 780px) {
  .container_index .section_first_index p {
    font-size: 1.2rem;
    margin: 20px;
  }

  header nav h1 {
    font-size: $h1 * 0.8;
  }

  .navbar-propio {
    padding: 8px;
  }

  .navbar > .container-fluid {
    justify-content: center;
  }

  main.top_players div img {
    max-height: 480px;
  }

  .container_index .top_no_index {
    justify-content: center;
  }

  section.section_second_index {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }

  .section_second_index div.texto_section {
    font-size: 0.4;
    padding: 20px;
  }

  div.fondo_no_index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  div.texto_imagen {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: center;
    text-align: center;
    align-content: center;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
  }

  .main_index div {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
    justify-content: center;
    transition: 0.5s;
    gap: 2rem;
  }

  .menu_index div {
    filter: grayscale(0%);
  }

  header.top_no_index {
    position: relative;
    justify-content: center;
  }

  .container_index .top_no_index {
    justify-content: center;
  }

  main.top_players > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  main.top_players div.card {
    top: 0px;
    margin-top: 240px;
  }

  main.top_players div.front,
  main.top_players div.back {
    justify-content: flex-end;
  }

  main.top_players div p {
    font-size: 0.8em;
    font-weight: bold;
    padding: 50px 10px;
    width: 100%;
    padding: 20px;
    margin: 0;
  }

  .section_second_index .texto_inside {
    padding: 20px;
  }

  .guias_container {
    h3 {
      font-size: 1.6em;
    }
    p {
      font-size: $fguia*0.8;
    }
  }
}

/* 480px */
@media screen and (max-width: 480px) {
  a.footer_up {
    font-size: 2.5rem;
  }

  .main_index div {
    margin: 0px;
    gap: 1.2rem;
  }

  body .main_index img {
    width: 60%;
  }

  body .main_index h2 {
    font-size: 1.2rem;
  }

  .container_index .section_first_index p {
    font-size: 0.8rem;
    padding: 30px;
  }

  .container_index .section_second_index {
    margin: 10px;
    padding: 10px;
  }

  .container_index .section_second_index p {
    font-size: 0.8rem;
    padding: 0px;
  }

  footer ul li a i {
    font-size: 2.5rem;
  }
}
