// COLORES:

$primary: #ecac4d;
$primary-hover: lighten($primary, 10%);
$bg-main: #191919;
$white: rgba(240, 240, 240, 1);
$bg-inside-text: rgba(0, 0, 0, 0.5);
$bg-button: #282d2f;


// FUENTES:

$h1: 2.5rem;
$h2: 2.2ch;
$h2out: $h1*1.1;
$h3: $h1/1.8;
$h3civ: 1.6rem;
$h3uni: 1.6rem;
$h3guia: 2.6rem;
$h4: 1rem;

$findex: 1rem;
$fciv: 0.8rem;
$ftp: 1rem;
$funi: 1rem;
