footer {
  background-image: url(../images/wave2.svg);
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  transition: 0.5s;
  width: 100%;
  height: 16rem;
  padding: 2rem;
  ul {
    li {
      display: flex;
      align-self: flex-end;
      align-items: center;
      justify-content: space-between;
      padding: 14px;
      font-size: $iconos-footer;
      a {
        transition: 0.5s;
        &:hover {
          transform: scale(1.2);
          color: $primary-hover;
        }
      }
    }
    &.contactos_footer {
      display: flex;
    }
  }
  a.footer_up {
    font-size: $iconos-footer;
    transition: 0.5s;
    padding: 14px;
    margin: 18px 16px;
    &:hover {
      transform: scale(1.2) rotate(360deg);
      color: $primary-hover;
    }
  }
}
