header {
  nav {
    background-image: url(../images/back-head03.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;

    h1 {
      font-family: "Cormorant Infant";
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
      font-weight: bold;
      text-align: center;
      font-size: $h1;
      margin-bottom: 0;
      transition: 0.5s;
      @media screen and (max-width: 1080px) {
        margin-right: 20px;
      }
    }

    filter: $ds02b;

    &.navbar-propio {
      position: fixed;
      z-index: 9;
      padding: 20px;
      > div {
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

header.out_of_index {
  h1 {
    &:hover {
      z-index: 9;
      color: $primary-hover;
    }
  }
  nav {
    ul {
      display: flex;
      filter: drop-shadow(0.2em 0.2em 0.25em black);
      li {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          font-family: "Cormorant Infant";
          font-weight: bold;
          color: $primary;
          border-radius: 25px;
          background: $bg-button;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
          border-radius: 20px;
          transition: 0.5s;
          top: 0;
          width: 140px;
          margin: 6px;
          font-size: $iconos-header;
          &:hover {
            color: $bg-button;
            background-color: $primary;
          }
        }
      }
    }
    button {
      background-color: $primary;
    }
  }
}

.lista-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    li {
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }
}
