header {
  nav {
    background-image: url(../images/back-head03.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;

    h1 {
      font-family: "Cormorant Infant";
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
      font-weight: bold;
      text-align: center;
      font-size: $h1;
      margin-bottom: 0;
      transition: 0.5s;
      @media screen and (max-width: 1080px) {
        margin-right: 20px;
      }
    }

    filter: $ds02b;

    &.navbar-propio {
      position: fixed;
      z-index: 9;

      > div {
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

header.out_of_index {
  h1 {
    &:hover {
      z-index: 9;
      color: $primary-hover;
    }
  }
}


